body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:#82417D;
   
}
header {
    background-color:#82417D;
    background: linear-gradient(0deg, rgba(130,65,125,51) 100%,rgba(0,0,0,1) 32%,);
    display:flex;
    flex-direction: row;    
    align-items: baseline;
    padding:5px;
    
}
.jumbotron {
    padding:20px;
}

.introduction {
    background-color: #DCD0E8;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}
.introDetails {
    padding-left: 50px;
}

.inline-block {
    display:inline-flex;
    margin-top:auto;
    background-color: transparent;
    color:#EBE399;
    }

    .logo {
        height: 100px;
        display:flex;
        margin-right:0px;
    }  
  

.research {
    background-color:#82417D;
    padding:20px;

}
.problemStatement {
    background-color:#DCD0E8;
    padding:20px;
}

.mr-3 {
    max-width: 540px;
    border-radius: 10px;
}
.sitemapBody {
    margin-left: 40px;
    padding-right: 15px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    background-color:#82417D;
    color:#EBE399;
    padding-left: 100px;
    padding-right: 48px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.col-lg-8 {
    background-color:black;
    color:#EBE399;
}
.col-lg-4 {
    background-color:#DCD0E8;
    color:#82417D;
}
.col-md-auto {
    background-color: #DCD0E8;
}
.row {
    background-color:#82417D;
    color:#DCD0E8;
}