body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:#82417D;
   
}
header {
    background-color:#82417D;
    background: linear-gradient(0deg, rgba(130,65,125,51) 100%,rgba(0,0,0,1) 32%,);
    display:flex;
    flex-direction: row;    
    align-items: baseline;
    padding:5px;
    
}
.jumbotron {
    padding:20px;
}

.introduction {
    background-color: #DCD0E8;
}

.flex {
    display: flex;
    flex-direction: row;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.introDetails {
    padding-left: 50px;
}

.inline-block {
    display:inline-flex;
    margin-top:auto;
    background-color: transparent;
    color:#EBE399;
    }

    .logo {
        height: 100px;
        display:flex;
        margin-right:0px;
    }  
  

.research {
    background-color:#82417D;
    padding:20px;

}
.problemStatement {
    background-color:#DCD0E8;
    padding:20px;

}
.psHead {
    text-align: center;
}
.psBody {
    text-align: center;
    margin-left: 40px;
    margin-right: 48px;
    padding-left: 10px;
    padding-right: 10px;
}

.mr-3 {
    max-width: 540px;
    border-radius: 10px;
}
.sitemapBody {
    margin-left: 40px;
    padding-right: 15px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    background-color:#82417D;
    color:#EBE399;
    padding-left: 100px;
    padding-right: 48px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.container {
    border:black, solid, 3px;
    border-radius: 10px;
}
.media-body {
    background-color:#DCD0E8;
    padding-left: 40px;
    padding-right: auto;
    padding-top: 20px;
    border-style: solid;
    border-color: #82417D;
    border-radius: 10px;
    border: 10px;
}
.container-fluid {
    background-color: white !important; 
    
}
.footerMenu {
    align-content: center;
    padding-top: 10px;
    padding-left:10px;
    justify-content:space-between;
    display:flex;
    width:400px;

}